<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Smart School</title>
    <link
            href="../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    />
    <style>
            .input-group{
                padding: 10px;
            }

    </style>
</head>
<body>
<div th:replace="fragmentos/navSecretaria :: nav"></div>

<main class="container">
  <ul class="nav justify-content-center p-3">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/manteralunos">Atualizar Cadastro Aluno</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/manterprofessores" >Atualizar Cadastro Professores</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/mantersala" style="background-color:#E6E6FA; border-radius: 25px; margin:8px;">Atualizar Cadastro Salas de Aula</a>
    </li>
</ul>
    <form action="" class="vh-100">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Código da sala/Turma...">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Professores</span>
            <select id="inputState" class="form-select">
                <option selected>Selecione</option>
                <option>Alexandre</option>
                <option>Bruno</option>
                <option>Edson</option>
                <option>Wilton</option>
            </select>
        </div>
        <div class="input-group">
            <span class="input-group-text">Código da Turma</span>
            <input type="text" aria-label="Código" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-text">Nome do Professor</span>
            <input type="text" aria-label="Nome" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-text">Qtd. Alunos</span>
            <input type="number" aria-label="Qtd" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-text">Alunos</span>
            <input type="text" aria-label="Alunos" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-text">Local da Sala</span>
            <input type="text" aria-label="sala" class="form-control">
        </div>
    <div class="d-grid gap-2 col-6 mx-auto p-3">
        <button
                class="btn btn-primary btn-sm"
                type="button"
        >
            Salvar
        </button>
    </div>
    </form>
</main>

<div th:replace="fragmentos/footer :: footer"></div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"
></script>
</body>
</html>